::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    -webkit-animation: fade-in 1s linear;
    -moz-animation: fade-in 1s linear;
    -o-animation: fade-in 1s linear;
    animation: fade-in 1s linear;
}

html {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.whole_page_eng {
    position: absolute;
    padding-top: 40px;
    width: 100%;
    transition: .5s;
}

.whole_page_rus {
    opacity: 0;
    padding-top: 40px;
    width: 100%;
    transition: .5s;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
h1 {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2 {
    font-size: 10px;
    font-weight: 300;
}

h3 {
    font-size: 18px;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    color: black;
    font-weight: 900;
    border-left: 2px solid #412457;
    padding-left: 5px;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    font-weight: 300;

}

h6 {
    font-size: 14px;
    font-weight: 700;

}

.paragraph {
    display: flex;
}

.pause_icon {
    width: 14px;
    height: 14px;
    background-image: url("img/pause.svg");
    color: #e8b527;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 4px;
}
/*DARK MODE COLOR*/
:root {
    --font-color: #fff4fd;
    --bg-color: #161625;
}

/**----------------------------HEADER----------------------------**/
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 190px;
    background-color: #412457;
}

.container_of_header {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    height: 190px;
}

.left_path_of_header {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #e8b527;
}

.profession {
    color: white;
}

.image_avatar {
    transition: .3s;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/R3Ff10yEiAY.jpg");
    margin-bottom: 4px;
}


.info_mail_address_phone {
    display: flex;
    flex-direction: column;
}

.content_info_string {
    display: flex;
    padding-bottom: 10px;
}

.color_contact {
    color: white;
}

.icon_setting {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    padding-left: 25px;
}

.mail {
    background-image: url("img/feather mail.svg");
}

.phone {
    background-image: url("img/feather phone.svg");
}

.address {
    background-image: url("img/feather map pin.svg");
}

/**----------------------------BODY----------------------------**/
.container_for_columns {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    margin: 0px auto;
}

.column_1 {
    width: 300px;
}

.column_2 {
    width: 300px;
}

.container_for_paragraph_and_content {
    margin-bottom: 35px;
}

.output_info {
    margin-left: 30px;
    width: 228px;
    margin-bottom: 20px;
}
.item_circle{
    display: flex;
}
.work_history {
    width: 350px;
    padding: 15px;
}

.content_work_history {
    margin-left: 30px;
    width: 350px;
}

.circle {
    width: 16px;
    height: 16px;
    background-color: #412457;
    border-radius: 100%;
    margin-right: 13px;
}

.line {
    width: 2px;
    height: 120px;
    background-color: #412457;
    margin-left: 7px;
}

.line_last {
    width: 2px;
    height: 85px;
    margin-left: 7px;
}

.line_history {

}

.item_par {
    flex-direction: column;
}

.line_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 220px;
}

.line_item_text p {
    color: darkgray;
}

.line_item_text {
    width: 220px;
    margin-left: 26px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.item_circle {
    display: flex;
    align-items: center;
}
.shape_circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #e8b527;
    float: left;
    margin-right: 5px;
}